section.cta-section {
  padding: 6rem 0;

  .section-heading {
    margin-bottom: 4rem;
  }

  ul.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      gap: 0.4rem;
      width: 50%;
    }

    .material-icons {
      color: var(--blue-color);
      background-color: var(--blue-bg-color);
      padding: 5px;
      border-radius: 100%;
    }
  }

  .cta {
    display: block;
    margin: auto;
  }
}
