section.about-section {
  padding: 6rem 0;

  .section-heading {
    margin-bottom: 4rem;
  }

  .content {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
}
