footer
  .container

    .first-block
      .brand
        a.logo(href="/")
          img(src="./assets/images/logo.png", alt="didinhe")
        a(href="/") DIDINHE

      p Empowering Journeys, One Shared Experience at a Time.

    p.copyright © 2023 didinhe Company - All rights reserved