footer
  .container

    .first-block
      .left
        .brand
          a.logo(href="/")
            img(src="./assets/images/logo.png" alt="didinhe")
          a(href="/") DIDINHE
        p Empowering Journeys, One Shared Experience at a Time.

      .right
        a.tnc(href="/privacy") Terms of use

    //- .second-block
    //- p.copyright © 2023 didinhe Company - All rights reserved
    //- a.tnc(href="/privacy") Terms of use