footer
  .container

    .first-block
      .brand
        a.logo(href="/")
          img(src="./assets/images/logo.png", alt="didinhe")
        a(href="/") DIDINHE

      p We love working with ambitious people. Let's build something great together now.

    p.copyright © 2023 Didinhe Copmany - All rights reserved