header
  div.container
    .left
      a.logo(href='./')
        img(src='./assets/images/logo.png', alt='didinhe')
      a.brand(href='./') 
        strong DIDINHE

    nav.site-nav
      ul.nav-items
        li
          a(href='./') Home
        li
          a(href='./about-us.html') About Us
        li
          a(href='./#contact-us') Contact
    