header
  div.container
    .left
      a.logo(href='./')
        img(src='./assets/images/logo.png' alt='didinhe')
      a.brand(href='./') 
        strong DIDINHE

    nav.site-nav
      ul.nav-items
        li
          a(href='/#about-us') About Us
        li
          a(href='/#features') Features
        li
          a(href='/#faq') FAQ
        li 
          a(href="/contact-us") Contact Us
