doctype html
html(lang="en")
  head
    title didinhe
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/x-icon", href="../assets/images/favicon.ico")

    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js", integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
    link(rel="stylesheet", href="./css/styles.css")

  block variables
    - var bodyClass = ""

  body(class='#{bodyClass}')
    include ./_header.jade

    main#main
      block content
      include ./_footer.jade

    block scripts
      script(src="./js/app.js")
              