section.cta-section
  .container
    .section-heading 
      h2.title Streamline your workflow with SaaS: Get started now
      p.description Stay up to date with the most relevant information

    ul.features 
      li 
        span.material-icons check_circle_outline
        span.label Unlimited pages
      li 
        span.material-icons check_circle_outline
        span.label Easy Access
      li 
        span.material-icons check_circle_outline
        span.label 14-days free trial

    button.cta Learn more
