section.cta-section
  .container
    .section-heading 
      h2.title Why Choose?
      p.description Embark on a new era of hassle-free travel. Join [didinhe] and make every trip a shared adventure!

    ul.features 
      li 
        span.material-icons check_circle_outline
        span.label Effortless Expense Management
      li 
        span.material-icons check_circle_outline
        span.label Build Lasting Connections
      li 
        span.material-icons check_circle_outline
        span.label Preserve and Share Your Journey
      li 
        span.material-icons check_circle_outline
        span.label Inspire Others with Your Adventures

