section.faq-section
  .container
    .section-heading 
      h2.title Frequently Asked Questions
      p.description We tried to answer most common questions, 
        br
        | if you have any additional, please get in touch with our friendly team

    
