section.faq-section#faq
  .container
    .section-heading 
      h2.title Frequently Asked Questions
      p.description We tried to answer most common questions, 
        br
        | if you have any additional, please get in touch with our friendly team

    ul.questions-list 
      li.question-item
        p.question 01. What is didinhe and how does it work?
        p.answer 
          strong didinhe 
          | is a mobile application designed to enhance your travel experience. It simplifies group travel by providing a powerful tool for fast and efficient sharing of expenses among members. Additionally, users can connect with fellow travelers, create shared TripData, and share their travel experiences seamlessly.

      li.question-item
        p.question 02. How does the expense-sharing tool work?
        p.answer Our expense-sharing tool allows groups to easily calculate and split expenses during a trip. Members can input expenses, and the app automatically calculates each person's share, eliminating the hassle of manual calculations. It ensures that everyone contributes their fair share, making group finances transparent and stress-free.

      li.question-item
        p.question 03. What is TripData, and how can it enhance my travel experience?
        p.answer TripData is a unique feature that lets users create a digital diary of their travel experiences. Beyond just recording locations, it allows you to capture and share the emotions, feelings, and photos that make your trips memorable. It's a powerful way to preserve your journey and share it with friends and the wider travel community.

      li.question-item
        p.question 04. Can I share my TripData on social media?
        p.answer Absolutely! 
          strong didinhe 
          | encourages you to share your adventures with the world. With just a few taps, you can showcase your TripData on various social media platforms, inspiring others with your travel stories, and keeping your friends connected to your journeys.

      li.question-item
        p.question 05. What sets didinhe apart from other travel apps?
        p.answer 
          strong didinhe 
          | stands out for its seamless integration of practical travel tools with a focus on building connections and preserving memories. Our app is designed to simplify the logistics of group travel while enriching the overall experience through shared TripData. We prioritize both the practical and emotional aspects of travel, making us a comprehensive solution for modern travelers.