section.hero-banner 
  .container
    .column
      .content
        h1.title Welcome to 
          span.appname didinhe 
          | - Your 
          span.highlight Ultimate Travel 
          | Companion
        p Streamlining Your Travel Experience, 
          br
          | One Trip at a Time.

      .social 
        p Trusted by over than 1K customers
        ul.rating 
          li 
            span.text-primary.material-icons star
            span.text-primary.material-icons star
            span.text-primary.material-icons star
            span.text-primary.material-icons star
            span.text-primary.material-icons star

    .column
      figure 
        img(src="./assets/images/hero-2.png", alt="didinhe")