section.hero-banner 
  .container
    .column
      .content
        h1.title Everything you need to scale a 
          span.highlight global team
        p Check out our proven methods, guides, and exercises that help make work better, and people happier.

      div 
        button.cta Learn more
      
      .social 
        p Trusted by over than 1M customers
        ul.rating 
          li 
            span.material-icons star
            span.material-icons star
            span.material-icons star
            span.material-icons star
            span.material-icons star

    .column
      figure 
        img(src="./assets/images/hero-2.png", alt="didinhe")