section.key-benefits
  .container
    .section-heading 
      .badge Our Features
      h2.title Our key benefits
      p.description Our services are designed to cater to your specific needs and goals

  .container.flex
    .column
      ul.benefits 
        li.item
          span.material-icons check_circle_outline
          h4 Project Structure
          p Check out our proven methods, guides, and exercises that help make work better, and people happier.
        li.item
          span.material-icons phone_iphone
          h4 Responsive
          p This Design System and UI kit is coming with full-responsive screens for tablet and mobile devices.
        li.item
          span.material-icons mail_outline
          h4 Messaging
          p On mobile, customers can send text, or audio messages to agents, like using any messaging app.

    .column
      .images-wrap 
        img(src="./assets/images/hero-1.png", alt="didinhe")
        img(src="./assets/images/hero-2.png", alt="didinhe")
      .images-wrap 
        img(src="./assets/images/hero-2.png", alt="didinhe")
        img(src="./assets/images/hero-1.png", alt="didinhe")