section.key-benefits#features
  .container
    .section-heading 
      .badge Our Features
      h2.title Our key benefits
      p.description Our services are designed to cater to your specific needs and goals

  .container.flex
    .column
      ul.benefits 
        li.item
          span.material-icons check_circle_outline
          h4 Simplify Group Finances Effortlessly
          p Our app comes equipped with a powerful tool that ensures seamless expense sharing among group members during trips. Calculate and split costs effortlessly, making financial coordination a breeze.
        li.item
          span.material-icons phone_iphone
          h4 Connect and Create Unforgettable Memories
          p Easily connect with fellow travelers and create shared TripData. Build connections that go beyond the journey, fostering a community that shares not just expenses, but also experiences.
        li.item
          span.material-icons mail_outline
          h4 Craft Your Journey, Preserve Your Memories
          p Create and curate TripData - a digital diary of your travel experiences. Capture not just the places, but the emotions, feelings, and photos that make your trips truly unforgettable.
        li.item
          span.material-icons group_add
          h4 Share Your Adventures with the World
          p Don't keep your amazing travel experiences to yourself. Share your TripData on social media, inspiring others and keeping your friends in the loop. Your adventures deserve to be seen and celebrated!

    .column
      .images-wrap 
        img(src="./assets/images/section-key-3.png", alt="didinhe")
        img(src="./assets/images/section-key-1.png", alt="didinhe")
      .images-wrap 
        img(src="./assets/images/section-key-2.png", alt="didinhe")
        img(src="./assets/images/section-key-4.png", alt="didinhe")