:root {
  --primary-color: #1a75ff;
  --secondary-color: #28335b;
  --white-color: #ffffff;
  --black-color: #141c24;
  --light-color: #ced2da;
  --dark-color: #344051;
  --blue-color: #0052cc;
  --blue-bg-color: #f0f6ff;
  --blue-rgb: 0, 82, 204;
  --header-top: 4rem;
  --header-height: 10rem;
  --header-nav-bottom: 40px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  font-size: 1.6rem;
  line-height: 1.55;
  color: var(--dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 2rem;
  }
}
body.no-scroll {
  height: 100%;
  overflow: hidden;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  color: var(--black-color);
}

img {
  max-width: 100%;
}

.container {
  padding: 0 8rem;
  max-width: 1216px;
  margin: 0 auto;
  background-color: w;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

h2.title {
  font-size: 3.8rem;
  margin-bottom: 1.2rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: var(--white-color);
}

.text-bold {
  font-weight: 600;
}

.hidden {
  display: none !important;
}

.highlight {
  border-bottom: 0.2em solid var(--primary-color);
  height: 1.08em;
  display: inline-block;
}

.appname {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--primary-color);
}

.cta {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}

.badge {
  font-size: 1.4rem;
  color: var(--blue-color);
  padding: 2px 10px;
  border-radius: 20px;
  background-color: var(--blue-bg-color);
  display: inline-block;
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8rem;
  text-align: center;
}

footer {
  padding: 6rem 0;
}
footer .first-block {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .brand {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .logo {
  display: block;
  width: 3.4rem;
  filter: grayscale(100%);
}
footer .tnc {
  color: var(--primary-color);
  font-weight: 500;
}
footer .second-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .second-block .copyright {
  color: var(--black-color);
  border-top: 1px solid var(--light-color);
  padding: 2rem 0;
}

header {
  padding: 1.8rem 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .left {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header .brand {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}
header .logo {
  display: flex;
  align-items: center;
  width: 3.4rem;
}
header .nav-items li {
  font-weight: 500;
  display: inline-block;
}
header .nav-items li:not(:last-child) {
  margin-right: 1rem;
}

section.hero-banner {
  padding: 3rem 0;
}
section.hero-banner .container {
  display: flex;
  gap: 3.2rem;
}
@media only screen and (max-width: 768px) {
  section.hero-banner .container {
    flex-direction: column-reverse;
  }
}
section.hero-banner .container .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.hero-banner figure {
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 4px 16px 0px;
}
section.hero-banner figure img {
  display: block;
  border-radius: 8px;
}
section.hero-banner .content {
  margin-bottom: 6.4rem;
}
section.hero-banner .content .title {
  font-weight: 600;
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
}
section.hero-banner .content p {
  font-size: 2rem;
}
section.hero-banner .content span.appname {
  font-weight: 700;
}
section.hero-banner .social {
  margin-top: 2.4rem;
}

section.key-benefits {
  padding: 6rem 0;
}
section.key-benefits .container.flex {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}
@media only screen and (max-width: 768px) {
  section.key-benefits .container.flex {
    flex-direction: column;
  }
}
section.key-benefits .container.flex .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.key-benefits .container.flex .column:nth-child(2) {
  flex-direction: row;
  gap: 3.2rem;
}
section.key-benefits .benefits .item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}
section.key-benefits .benefits .material-icons {
  display: block;
  align-self: flex-start;
  color: var(--blue-color);
  background-color: var(--blue-bg-color);
  padding: 8px;
  border-radius: 10px;
}
section.key-benefits .benefits h4 {
  font-size: 2rem;
}
section.key-benefits .images-wrap {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
section.key-benefits .images-wrap img {
  border-radius: 16px;
  filter: grayscale(100%);
}

section.about-section {
  padding: 6rem 0;
}
section.about-section .section-heading {
  margin-bottom: 4rem;
}
section.about-section .content {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.about-section .content h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

section.cta-section {
  padding: 6rem 0;
}
section.cta-section .section-heading {
  margin-bottom: 4rem;
}
section.cta-section ul.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}
section.cta-section ul.features li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.4rem;
  width: 50%;
}
section.cta-section ul.features .material-icons {
  color: var(--blue-color);
  background-color: var(--blue-bg-color);
  padding: 5px;
  border-radius: 100%;
}
section.cta-section .cta {
  display: block;
  margin: auto;
}

section.faq-section {
  padding: 6rem 0;
}
section.faq-section .questions-list {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
section.faq-section .questions-list .question-item {
  border: 1px solid var(--light-color);
  border-radius: 0.8rem;
  padding: 3.2rem;
}
section.faq-section .questions-list .question-item .question {
  font-weight: 600;
  margin-bottom: 1rem;
}
section.faq-section .questions-list .question-item strong {
  color: var(--primary-color);
  font-weight: 600;
}

section.article {
  --block-spacing: 2rem;
  padding: 4rem 2rem;
}
@media only screen and (max-width: 768px) {
  section.article {
    padding: 6rem 0;
  }
}
section.article a {
  color: var(--primary-color);
  font-weight: bold;
}
section.article p,
section.article h1,
section.article h2,
section.article h3 {
  margin-bottom: var(--block-spacing);
  text-wrap: balance;
}
section.article strong {
  font-weight: 700;
}
section.article ul {
  margin-bottom: var(--block-spacing);
}
section.article ul li {
  margin-left: 2rem;
  list-style-type: disc;
}
section.article h1 {
  font-size: 3.2rem;
  font-weight: 700;
}
section.article p {
  text-wrap: pretty;
}
section.article .verify {
  font-weight: 600;
  color: orange;
}