section#contact-intro.article
  .container
    h1 Welcome to 
      span.appname didinhe 
      | support team! 
    p We're thrilled to have you here. Whether you're a new visitor or a long-time customer, we're here to assist you with any questions or concerns you might have.

    h2 How to Get in Touch
    p Zalo Support Group: For immediate assistance and to join our community, scan the QR code below to join our support group.
      br
      a(href="https://zalo.me/g/yjfjlr392") zalo.me/g/yjfjlr392 

    figure 
      img(src="./assets/images/zalo-qr.png" alt="")

    h2 Need Help?
    p If you encounter any issues while joining the Zalo group or have any other questions, don't hesitate to reach out to us through: 

    ul 
      li Email: 
        a(href="mailto:didinhe-admin@mtgvn.us") didinhe-admin@mtgvn.us
      li Phone: 
        a(href="tel:+840703344327") (+84) 0703 344 327

    p We're here to help!

    h2 Thank You
    p Thank you for choosing 
      span.appname didinhe
      | . We look forward to connecting with you and assisting with your needs.

