extends ./pages/common/_layout.jade

block variables
  - var bodyClass = "home-page"

block content
  include ./pages/home/_hero-banner.jade
  include ./pages/home/_key-benefits.jade
  include ./pages/home/_cta-section.jade
  include ./pages/home/_faq.jade